<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486918878604-6tg9bgd4in4h7ppeaupeqkf2uv6ptp55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486918878604-6tg9bgd4in4h7ppeaupeqkf2uv6ptp55</string>
	<key>API_KEY</key>
	<string>AIzaSyD4xCrjwfYhIvvSpkNs7dfvZI5H0bleoPc</string>
	<key>GCM_SENDER_ID</key>
	<string>486918878604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theHitTimesApp</string>
	<key>PROJECT_ID</key>
	<string>the-hit-times</string>
	<key>STORAGE_BUCKET</key>
	<string>the-hit-times.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486918878604:ios:53f0324c199b7f4e0e12a9</string>
</dict>
</plist>